body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #E6CB86, #FAC830, #FBF9E5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-card {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
  position: relative;
}

.logo-container {
  background-color: #E6CB86;
  padding: 20px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 80px;
  height: 80px;
}

h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  color: #1E1316;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  background-color: #BB563C;
  color: #FBF9E5;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #A94E32;
}

.additional-options {
  margin-top: 20px;
}

.additional-options a {
  color: #BB563C;
  text-decoration: none;
  font-size: 0.9em;
}

.additional-options a:hover {
  text-decoration: underline;
}