<div class="title-container">
  <h1 class="title">Registro de Tipo de pago</h1>
</div>
<div class="container" style="text-align: center">
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    <mat-form-field class="example-full-width" *ngIf="edicion">
      <mat-label>Codigo</mat-label>
      <input matInput placeholder="Codigo" formControlName="codigo" />
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Descripcion:</mat-label>
      <input
        matInput
        placeholder="descripcionTpago"
        formControlName="descripcion"
      />
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')"
        >La descripcion es obligatoria.</mat-error
      >
    </mat-form-field>

    <br />

    <button mat-raised-button color="primary">aceptar</button>

    <button mat-raised-button color="warn" routerLink="/tpago">Cancelar</button>
    <p>{{ mensaje }}</p>
  </form>
</div>
