<div class="title-container"><h1 class="title">Registro de Pagos</h1></div>

<div class="container" style="text-align: center">
  <form [formGroup]="form" (submit)="aceptar()" class="example-form">
    <mat-form-field *ngIf="edicion">
      <mat-label>Codigo</mat-label>
      <input matInput formControlName="codigo" readonly />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Documento:</mat-label>
      <input matInput placeholder="Documento" formControlName="documento" />
      <mat-error *ngIf="form.get('documento')?.hasError('required')"
        >El Documento es obligatorio.</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>Monto:</mat-label>
      <input matInput placeholder="Monto" formControlName="monto" />
      <mat-error *ngIf="form.get('monto')?.hasError('required')"
        >El monto es obligatorio.</mat-error
      >
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Fecha y Hora</mat-label>
      <input
        matInput
        [ngxMatDatetimePicker]="picker"
        formControlName="fechahora"
      />
      <button
        mat-icon-button
        matSuffix
        aria-label="Toggle datetime picker"
        (click)="picker.open(); $event.stopPropagation()"
        type="button"
      >
        <mat-icon>event</mat-icon>
      </button>
      <ngx-mat-datetime-picker
        #picker
        [showSpinners]="showSpinners"
        [showSeconds]="showSeconds"
        [stepHour]="stepHour"
        [stepMinute]="stepMinute"
        [stepSecond]="stepSecond"
        [touchUi]="touchUi"
        [color]="color"
        [enableMeridian]="enableMeridian"
        [disableMinute]="disableMinute"
        [hideTime]="hideTime"
      >
      </ngx-mat-datetime-picker>

      <mat-error *ngIf="form.get('fechahora')?.hasError('required')">
        La fecha y hora son obligatorias.
      </mat-error>
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
      <mat-label>tpago</mat-label>
      <mat-select formControlName="tpago">
        <mat-option *ngFor="let c of listatpago" [value]="c.tipoPagoID">
          {{ c.descripcionTpago }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('tpago')?.hasError('required')"
        >El Tipo de pago es obligatorio.</mat-error
      >
    </mat-form-field>

    <br />

    <button mat-raised-button color="primary">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/pago">Cancelar</button>
  </form>
</div>
